---
title: Gite du Paradis | Bienvenue
---
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Gite du Paradis</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Gite du Paradis" />
	<meta name="keywords" content="gite, paradis, template" />
	<meta name="author" content="Simon GUILLORIT" />


  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="/house.jpg">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

	<!-- Animate.css -->
	<link rel="stylesheet" href="/stylesheets/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/stylesheets/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
	<link rel="stylesheet" href="/stylesheets/owl.theme.default.min.css">

	<link rel="stylesheet" href="/stylesheets/style.css">


	<!-- Modernizr JS -->
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<div class="box-wrap">
		<header role="banner" id="fh5co-header">
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="row">
						<div class="col-md-3">
							<div class="fh5co-navbar-brand">
								<a class="fh5co-logo" href="index.html">Gite du Paradis</a>
							</div>
						</div>
						<div class="col-md-9 main-nav">
							<ul class="nav text-right">
								<li class="active"><%= link_to 'Accueil', '/index.html' %></li>
								<li><%= link_to 'Nos Chambres', '/chambres.html' %></li>
								<li><%= link_to 'A Proximité', '/a-proximite.html' %></li>
								<li><%= link_to 'Tarifs', '/tarifs.html' %></li>
								<li><%= link_to 'Contact', '/contact.html' %></li>
							</ul>
						</div>
					</div>
				</nav>
		  </div>
		</header>
		<!-- END: header -->
		<div class="owl-carousel owl-carousel1 owl-carousel-fullwidth fh5co-light-arrow animate-box" data-animate-effect="fadeIn">
			<div class="item"><a href="images/house.jpg" class="image-popup"><img src="images/house.jpg" alt="image"></a></div>
			<div class="item"><a href="room1.jpg" class="image-popup"><img src="images/room1.jpg" alt="image"></a></div>
			<div class="item"><a href="images/room2.jpg" class="image-popup"><img src="images/room2.jpg" alt="image"></a></div>
			<div class="item"><a href="images/room3.jpg" class="image-popup"><img src="images/room3.jpg" alt="image"></a></div>
			<div class="item"><a href="images/background.jpg" class="image-popup"><img src="images/background.jpg" alt="image"></a></div>
		</div>
		<div id="fh5co-media-section">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center heading-section">
						<h3>Bienvenue au Gite du Paradis</h3>
						<p>A Mouleydier, dans le Périgord pourpre, aux abords des vignobles du Pécharmant, le Gite du Paradis vous accueille : une magnifique maison de maître surplombant la Dordogne, dont les origines remontent au XVIIe siècle, retrouve son âme d’antan.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- END fh5co-media-section -->
		<div id="fh5co-intro-section">
			<div class="fh5co-intro-cover text-center animate-box" data-animate-effect="fadeIn" data-stellar-background-ratio="1" style="background-image: url(images/room1.jpg); background-repeat: no-repeat; background-size: cover;">
				<%= link_to 'Découvrez nos chambres', '/chambres.html', class: 'btn' %>
			</div>
		</div>
		<!-- END fh5co-intro-section -->
		<footer>
          <footer>
            <div id="footer" class="fh5co-border-line">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-md-offset-3 text-center">
                    <p>Copyright 2017 Simon Guillorit. <a href="#">Gite du Paradis</a>. <br>Made with <i class="icon-heart3 love"></i> by <a href="http://simonguillor.it/" target="_blank">Simon Guillorit</a> / Demo Images: <a href="https://unsplash.com/" target="_blank">Unsplash</a></p>
                    <p class="fh5co-social-icons">
                      <a href="#"><i class="icon-facebook-with-circle"></i></a>
                      <a href="#"><i class="icon-instagram-with-circle"></i></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </footer>
        </div>
        <!-- END: box-wrap -->
        <script src="/javascripts/modernizr-2.6.2.min.js"></script>

        <!-- jQuery -->
        <script src="/javascripts/jquery.min.js"></script>
        <!-- jQuery Easing -->
        <script src="/javascripts/jquery.easing.1.3.js"></script>
        <!-- Bootstrap -->
        <script src="/javascripts/bootstrap.min.js"></script>
        <!-- Owl carousel -->
          <script src="/javascripts/owl.carousel.min.js"></script>
        <!-- Waypoints -->
        <script src="/javascripts/jquery.waypoints.min.js"></script>
        <!-- Parallax Stellar -->
        <script src="/javascripts/jquery.stellar.min.js"></script>
        <!-- Google Map -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA"></script>
        <script src="/javascripts/google_map.js"></script>

        <!-- Main JS (Do not remove) -->
        <script src="/javascripts/main.js"></script>

        </body>
      </html>

